<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>
    <header id="header"></header>
    <main>
        <header>
            <h1>첫번째 글</h1>
        </header>
        <aside>
            <p><span >Swpark</span></p>
            <p><a href="mailto:djkehh@gmail.com">swpark@mail.com</a></p>
            <p><time datetime="2022-01-01T00:00:00">2022-01-01</time></p>
            <p>#java</p>
        </aside>

        <article class="col-md-7 col-lg-8">
        <p>본문<br><br></p>
        </article>

        <div class="row g-5">
            <section>
                <form class="row g-3">
                    <div class="col-8">
                        <label for="comment-textbox" hidden>댓글</label>
                        <textarea class="form-control" id="comment-textbox" placeholder="댓글 쓰기.." rows="3"></textarea>
                    </div>
                    <div class="col-auto">
                        <label for="comment-submit" hidden>댓글 쓰기</label>
                        <button class="btn btn-primary" id="comment-submit" type="submit">쓰기</button>
                    </div>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2022-01-01</small></time>
                            <strong>Uno</strong>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2022-01-01</small></time>
                            <strong>Uno</strong>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                </ul>
                <nav>
                    <a href="#">이전 글</a>
                    <a href="#">다음 글</a>
                </nav>
            </section>
        </div>
    </main>
    <footer id="footer"></footer>
<aside>

</aside>
</body>
</html>